<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="menu">
    <nav class="navbar navbar-expand-lg" style="background-color: #f0f0f0">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: black">Books</a>
          </li>
          <li>
            <a class="nav-link" href="/book/add" style="color: black"
              >Add Book</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </th:block>
</html>
